body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    background-image: url(../golden-music-notes-background-design_1017-33910.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

form {
    color: white;
}

#formInst, #formTeor, #formArm, #formEns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formInst input {
    margin: 0.6rem;
    width: 3rem;
}

#formTeor input {
    margin: 0.6rem;
    width: 3rem;
}

#formArm input {
    margin: 0.6rem;
    width: 3rem;
}

#formEns input {
    margin: 0.6rem;
    width: 3rem;
}

#formInst button {
    margin-top: 1.2rem;
}

#formTeor button {
    margin-top: 1.2rem;
}

#formArm button {
    margin-top: 1.2rem;
}

#formEns button {
    margin-top: 1.2rem;
}


h1 {
    margin-top: 2rem;
    color: white;
}

h2, h3 {
    color: white;
}

p {
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    line-height: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#saludar, #botonInstAqui, #botonTeorAqui, #botonArmAqui, #botonEnsAqui p {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#aprobAquiInst p {
    margin-top: 0rem;
}

.parrafo {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

main {
    margin: auto;
}

main p {
    font-size: 1.5rem;
}

#listadoPromedios, #listadoNotas, p {
    color: white;
}

#revisores li {
    color: white;
}

#comentarioAprobado {
    margin-bottom: 0rem;
}

#comentarioDesaprobado {
    margin-bottom: 0rem;
}
